/* Albums list */
#albums .album, #home .album, #shared .album{
	padding: 16px;
	overflow: hidden;
	margin-bottom: 16px;
}

#albums .image, #home .image, #shared .image{
	padding: 0;
}

/* Album page */

@media ( min-width : 992px) {
	#album .btn-responsive{
	    padding: 1px 5px;
	    font-size: 12px;
	    line-height: 1.5;
	    border-radius: 3px;
	    margin: 6px 0 6px 6px;
	}
}

#album .image {
	padding: 8px;
	position: relative;
}

#album .image .edit-image{
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 100;
}

#album .image .edit-image > div{
	display: inline-block;
	vertical-align: top;
}

#album .image .edit-image > div > div{
	display: block;
}

#album .picture-options div{
	margin-bottom: 8px;
}

#album .edit-title, #album .edit-desc{
	 width:auto;
	 overflow:hidden;
	 position: relative;
}

#album .edit-title-input, #album .edit-desc-input{
	width: 100%;
}

.add-shared-users-table{
	margin-top: 16px;
}

.add-shared-users-table tr td{
	padding: 8px;
}

.add-shared-users-table tr td:first-child{
	min-width: 200px;
}


/* Title bar */
.title {
	overflow: hidden;
	margin-bottom: 16px;
}

.title h1 {
	margin: 0;
	line-height: 46px;
}

.title .btn {
	float: right;
}

@media ( max-width : 991px) {
	.title .btn, #picture .btn{
		width: 100%;
	}
}

/* Default styles */
.change-page{
	cursor: pointer;
}

.row{
	overflow: hidden;
	margin: 0;
}

.pointer{
	cursor: pointer;
}

.margin-left-8{
	margin-left: 8px;
}

.padding-16 {
	padding: 16px;
}

a, a:hover {
	color: inherit;
}

.small-shadow {
	box-shadow: 0px 0px 1px grey;
}